<div class="book-area clearfix">

<%= form_for(@emotion) do |f| %>
 <p>投稿</p>
 <%= f.text_area :body %>
 <p>画像</p>
 
 <p>タグ</p>
 <%= f.text_field :tag_list, value: @emotion.tag_list.join(',') %>
 <%= f.submit "投稿する", class: "btn btn-dark" %>   
<% end %>
</div>
