<h1>~About~</h1>

<div class="container">
<div class="title">
    <h1>遭遇したことない感動を。</h1>
</div>

<div class="clearfix">
    <section class="photo">
        <a href="#"></a>
    </section>
    <section class="text-content">
        <h2>「気持ち」を分かちあえる喜び</h2>
        <p>大好きな球団、大好きな選手の活躍を誰かに自慢、<br>分かち合いと思ったことはありませんか？<br>自分の周りには同じ球団好きな人がいない。。。」当サイトはそんな人たちを繋ぐSNSサイトです。</p>
    </section>
</div>
<div class="clearfix">
    <section class="text-content">
        <h2>生でしか味わえない「感動」</h2>
        <p>インターネットでどこでもいつでも野球観戦ができるようになった昨今。<br>しかし、球場でリアルタイムでみる試合にはそこでしか味わえない感動があります。<br>その感動を伝えるツールとして利用頂ければ幸いです。</p>
    </section>
    <section class="photo">
        <a href="#"></a>
    </section>
</div>
<div class="clearfix">
    <section class="photo">
        <a href="#"></a>
    </section>
    <section class="text-content">
        <h2>初めての方でも思わず球場に足を運びたくなる「わくわく感」</h2>
        <p>当サイトは最近プロ野球に興味を持ち始めた方に特におすすめです。<br>既に日常的に球場に足を運んでいるユーザーの投稿を目にすれば、なおいっそうプロ野球に興味もつこと間違いなし。<br>当サイトで「わくわく感」を高めつつ、共に球場で応援してみてはいかがでしょうか。</p>
    </section>
</div>

<h1>あなたの大好きで、誰かの心を動かしてみませんか。</h1>

<p>登録はこちらから</p>

<div class="clearfix">
    <section class="photo">
        <a href="#"></a>
    </section>
    <section class="text-content">
        <h2>サイト製作者</h2>
        <p>氏名　y-sato</p>
        <p>お気に入りの球団<br>東京ヤクルトスワローズ</p>
        <p>おすすめのプロ野球感動シーン<br>東北楽天ゴールデンイーグルス初優勝シーン</p>
    </section>
</div>
</div>

