
<div class="mdl-grid">
    <div class="text-content clearfix">
        <h1>「野球観戦」×「グルメ」</h1>
        <p>
        当サイトはプロ野球観戦の「感動」を共有することができるプロ野球観戦専用SNSです。<br>
        大好きな球団、大好きな選手の活躍を誰かに自慢、<br>分かち合いと思ったことはありませんか？<br><br>
        また、インターネットでどこでもいつでも野球観戦ができるようになった昨今ですが、<br>球場でリアルタイムでみる試合にはそこでしか味わえない感動があります。<br>
        球場ならではの雰囲気、そこでしか味わえないグルメも多いです。<br><br>
        それらをいろんな人と共有して見ませんか？<br>
        それでは当サイトの主な３つの使い方を見てみましょう。
        <p>
    </div>
    <div class="about-content">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
                <h5>Step 1 好みが近いユーザーを探そう！</h5>
            </div>
            <div class="mdl-card__title1 mdl-card--expand">
            </div>
        </div>
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
                <h5>Step 2 投稿して見よう！</h5>
                <p>野球とスタジアムのグルメの２種類の投稿があるので、みんなに感動を伝えよう！</p>
            </div>
            <div class="mdl-card__title2 mdl-card--expand">
            </div>
        </div>
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
                <h5>Step 3 みんなの投稿に反応してみよう！</h5>
            </div>
            <div class="mdl-card__title3 mdl-card--expand">
            </div>
        </div>
    </div>
    <div class="content">
        <h1>あなたの大好きで、<br>誰かの心を動かしてみませんか。</h1>
        <%= link_to "登録はこちらから", new_user_registration_path, class: "btn btn-primary" %>
    </div>
</div>
    


