<div class="index-book">
<h5>チャット</h5>
<div id="messages">
    <%= render partial: "forms/message", collection: @messages %>
</div>
<form>
    <label>入力：</label><br>
    <input type="text" data-behavior="chat_speaker" data-room_id="<%= @room.id %>" data-user_id="<%= current_user.id %>">
</form>
</div>