/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  
@import "bootstrap"; 


// 全体レイアウト

body{
    background-color: #f3f3f3;
    margin: 0 auto;
    // background-image: image-url("stadium.jpg");
    // background-position: 50% 75%;
    // background-size: cover;
    // background-attachment: fixed;
    // background-color: rgba(255,255,255,0.3);
    color: #000000;
    // background-blend-mode:lighten;
    // font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

a{
    color: white !important;
}

a:hover{
    opacity: 0.6;
}

h1{
    width: 30%;
    font-size: 20px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.mdl-layout__content{
    width: 100%;
}


main{
    margin: 80px auto;
}

.mdl-layout__drawer{
    .img{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid;
        margin-bottom: 10px;
    }
    a{
        color: #000000 !important;
    }
}



button{
    display: inline;
    font-size: 10px;
    text-decoration: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);

    :hover{
        opacity: 0.6;
    }
}


// 検索フォームレイアウト
.search{
    margin-top: 20px;
    text-align: center;
    position: relative;
    input{
        background-color: rgba(0, 0, 0, 0.4);
        width: 60%;
        height: 30px;
        display: inline-block;
    }

    button{
        display: inline-block;
        border: none;
        color: #000000 !important;
    }
    
}

// エラー時表記箇所レイアウト

.notice{
    width: 100%;
    p{
        color: red !important;
    }
}

#flash{
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    z-index: 100;
    font-weight: bold;
    display: none;
}

// 投稿スコアによっての色わけ　赤　0.4~1.0　緑0.3~-0.5 青0.6~1.0 　

.score-color1{
    border: 1px  red;
}
.score-color2{
    border: 1px  green;
}
.score-color3{
    border: 1px  blue;
}

// メディアクエリ時　rightbar消える為　全体幅変更
@media screen and (max-width:425px){
    .container{
        width: 100%;
    }
}






