// Place all the styles related to the emotions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿画像レイアウト

.emotion-img{
    border-radius: 15px;
    padding: 10px;
    margin: 30px 0;
    color: #000000 !important;
    margin: 0 auto;
    
    .img-show{
        display: block;
        margin-bottom: 8px;
        text-align: center;
        
        img{
            border: 7px solid #770000;
        }
    }
    .img-show:last-child{
        margin-bottom: 0;
    }
}

// 新規投稿画面　レイアウト

.book-area{
    background-image: image-url("comment.jpg");
    background-size: cover;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid;
    color: #000000 !important;

    .btn{
        display: block;
        color: #000000 !important;
        margin: 10px 0;
    }

    textarea{
        display: block;
        width: 100%;
        height: 100px;
    }
}


