// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    margin: 0 auto;
}

// ヘッダ箇所
header{
    background-color: rgba(0, 0, 0, 0.69);
    color: #ffffff;
    padding: 0 50px;
    height: 80px;
    position: fixed;
    width: 100%;

.fixed{
    position: fixed;
    top: 0;
}
h1{
    
    display: inline-block;
}

ul{
    display: inline-block;
    float: right;
    padding: 0 50px;
}

li{
  list-style: none;
  display: inline-block;
}

.img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 10px;
}

.btn{
    display: inline;
    max-width: 180px;
    text-align: left;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 16px;
    border-radius: 4px;
    transition: .4s;
    margin-right: 20px;
}
.top-btn{
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 16px;
    border-radius: 4px;
    transition: .4s;
    margin-right: 20px;
}

.header-list{
    margin-top: 20px;
}

}