// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ユーザー紹介文がない際、表示するモーダル（user_topのみ）

#mask{
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
}

#introduction-confirm{
    height: 300px;
    padding: 10px;
    width: 35%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    color: #000 !important;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999;
    position: fixed;

    a{
        cursor: pointer;
        color: #000000 !important;
        border-bottom: 1px solid #000000;
    }
        
    a.hidden{
        display: none;
    }

    .img{
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid;
        margin: 0 auto;
    }
}

#mask.hidden{
    display: none;
}

#introduction-confirm.hidden{
    display: none;
}

.flex{
    display: flex;
}


// ユーザー　レイアウト

.img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 10px;
    border: 3px solid;
}

.demo-card-square.mdl-card {
    width: 30%;
    height: 300px;
    margin: 100px 5%;
}

.index{
    h5{
        margin-left: 5%;
    }
    .demo-card-square.mdl-card {
        width: 400px;
        min-width: 400px;
        height: 400px;
        margin: 50px 2%;
        float: left;
    }
} 
.demo-card-square > .mdl-card__title {
    text-align: center;
    color: #fff;
    background:   bottom right 15% no-repeat #46B6AC;
    width: 100%;

    h1{
        width: 100%;
        display: block;
        word-break: break-all;
        overflow: auto;
    }
    h3{
        width: 60%;
    }
    
    a{
        display: inline-block;
        font-size: 14px;
        color: #fff !important;
    }  
}

.mdl-card__supporting-text {
    
    a{
        font-size: 14px;
        color: #000 !important;
    }  
}

.mdl-card__actions{
    a{
        font-size: 14px;
        color: #000 !important;
    }
}

.user-emotion{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin: 30px 0;
    opacity: 0.7;
    color: #000000 !important;
    word-break: break-all;
    overflow: auto;


    // section{
    //     display: inline-block;
    //     width: 80%;
    // }

    

    
}

.profile-img{
    display: block;

    .img{
        margin: 3px 6px !important;
    }


    button{
        display: inline-block;
        margin: 0 6px;
        width: 120px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.69) !important;
        color: #ffffff !important;
        font-size: 10px;
    }
}

.user-info{
    margin: 0 auto;  
    
    .demo-card-square.mdl-card {
        width: 40%;
        height: 600px;
        margin: 200px auto;
    }
    .demo-card-square > .mdl-card__title {
        color: #fff;
        background:   bottom right 15% no-repeat #46B6AC;
        width: 100%;
    
        h1{
            width: 100%;
            display: block;
            word-break: break-all;
            overflow: auto;
        }
        
        a{
            display: inline-block;
            font-size: 14px;
            color: #fff !important;
            margin: 0 auto;
        }  
    }
    
    .mdl-card__supporting-text {
        width: 100%;
        
        a{
            font-size: 14px;
            color: #000 !important;
            margin: 0 auto;
        }  
    }
    
    .mdl-card__actions{
        height: 400px;
        h5{
            width: 100%;
            display: block;
            word-break: break-all;
            overflow: auto;
            margin: 5px ;
        }
        span{
            font-size: 12px;
            border: 1px dashed #46B6AC;
            display: block;
            padding: 3px;
            margin-bottom: 10px;
        }
        a{
            font-size: 14px;
            color: #000 !important;
        }
    }
}

.user-search{
    margin: 0 auto;  
    h5{
        margin-left: 10px;
    }
    
    .demo-card-square.mdl-card {
        width: 400px;
        min-width: 400px;
        height: 400px;
        margin: 50px 2%;
        float: left;
    }
    .demo-card-square > .mdl-card__title {
        color: #fff;
        background:   bottom right 15% no-repeat #46B6AC;
        width: 100%;
    
        h1{
            width: 100%;
            display: block;
            word-break: break-all;
            overflow: auto;
        }
        
        a{
            display: inline-block;
            font-size: 14px;
            color: #fff !important;
            margin: 0 auto;
        }  
    }
    
    .mdl-card__supporting-text {
        width: 100%;
        
        a{
            font-size: 14px;
            color: #000 !important;
            margin: 0 auto;
        }  
    }
    
    .mdl-card__actions{
        height: 400px;
        h5{
            width: 100%;
            display: block;
            word-break: break-all;
            overflow: auto;
            margin: 5px ;
        }
        span{
            font-size: 12px;
            border: 1px dashed #46B6AC;
            display: block;
            padding: 3px;
            margin-bottom: 10px;
        }
        a{
            font-size: 14px;
            color: #000 !important;
        }
    }
}

.edit{
    .demo-card-square.mdl-card {
        height: 800px;
    }
    .mdl-card__actions{
        height: 500px;
        textarea,input,select{
            display: block;
            width: 100%;
            padding: 3px;
            margin: 3px;
        }

        span{
            font-size: 12px;
            border: none;
            display: block;
            padding: 3px;
            margin-bottom: 10px;
        }
    }
}

.new{
    .mdl-card__supporting-text{
        height: 400px;
    }
    textarea,input,select{
        display: block;
        width: 100%;
        padding: 3px;
        margin: 3px;
    }

    textarea{
        height: 150px;
    }
}

span{
    font-size: 12px;
    border: none;
    display: block;
    padding: 3px;
    margin-bottom: 10px;
}


.header-img{
    height: 300px;
    width: 100%;
    opacity: 0.8;
}


.book{
    margin: 50px 3%;
    width: 55%;
    background-color: #fff;
    padding: 10px;

    .mdl-tabs__tab{
        color: #000 !important;
    }
    .mdl-tabs__tab-bar{
        margin-bottom: 10px;
    }
    
    p{
        display: inline-block;
        margin: 3px 0 0 0;
    }
    
    .mdl-card__supporting-text{
        padding: 10px 5px 0px 10px;
    }
    .demo-card-wide.mdl-card {
        min-height: 140px !important;
        min-width: 100% !important;
        margin-bottom: 30px;
      }
      .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 50px;
      }
      .demo-card-wide > .mdl-card__menu {
        color: #fff;
      }
      .mdl-card__actions.mdl-card--border{
        word-break: break-all;
        overflow: auto;
        padding-top: 15px;

        a{
            font-size: 20px !important;
            font-weight: inherit !important;
            color: inherit !important;
        }
      }

}
.show{
    margin: 100px auto;
    width: 55%;

    p{
        display: inline-block;
        margin: 3px 0 0 0;
    }


    
    
    
    .mdl-card__supporting-text{
        padding: 10px 5px 0px 10px;
    }
    .demo-card-wide.mdl-card {
        min-height: 140px !important;
        min-width: 100% !important;
        margin-bottom: 30px;
      }
      .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 50px;
      }
      .demo-card-wide > .mdl-card__menu {
        color: #fff;
      }
      .mdl-card__actions.mdl-card--border{
        word-break: break-all;
        overflow: auto;
        padding-top: 15px;

        a{
            font-size: 20px !important;
            font-weight: inherit !important;
            color: inherit !important;
        }
      }

}



.index-book{
    margin: 100px 3%;
    background-color: #fff;
    padding: 10px;

    .mdl-tabs__tab{
        color: #000 !important;
    }
    .mdl-tabs__tab-bar{
        margin-bottom: 10px;
    }
    
    p{
        display: inline-block;
        margin: 3px 0 0 0;
    }
    
    .mdl-card__supporting-text{
        padding: 10px 5px 0px 10px;
    }
    .demo-card-wide.mdl-card {
        min-height: 140px !important;
        width: 100%;
        max-width: 800px;
        margin: 10px auto;
      }
      .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 50px;
      }
      .demo-card-wide > .mdl-card__menu {
        color: #fff;
      }
      .mdl-card__actions.mdl-card--border{
        word-break: break-all;
        overflow: auto;
        padding-top: 15px;

        a{
            font-size: 20px !important;
            font-weight: inherit !important;
            color: inherit !important;
        }
      }

}

.confirm{
    float: center;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    a{
        display: inline-block ;
        width: 30%;
        height: 50px;
    }
}


// メディアクエリ　各ページの投稿内容
@media screen and (max-width:425px){
    #introduction-confirm{
        height: 200px;
        padding: 10px;
        width: 70%;
        background-color: rgba(255,255,255,0.6);
        border-radius: 15px;
        color: #000 !important;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 99999;
    
        a{
            cursor: pointer;
            color: #000000 !important;
            border-bottom: 1px solid #000000;
        }
            
        a.hidden{
            display: none;
        }
    
        .img{
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid;
            margin: 0 auto;
        }
    }
    .user-emotion{
        background-color: #ffffff;
        border-radius: 15px;
        padding: 5px;
        margin: 30px 0;
        opacity: 0.7;
        color: #000000 !important;
        position: relative;
        height: 150px;
    
        section{
            display: inline-block;
            width: 100%;
        }

        .emotion-content{
            width: 80%;
        }
    
        .right-content{
            width: 60%;
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 10px;

            #favorite{
                display: block;
            }
            p{
                display: inline-block;
                margin-right: 10px;
                margin-top: 5px;
                font-weight: bold;
                color: black !important;
                font-size: 10px;
            }
    
            a{
                color: #000000 !important;
                font-size: 12px;
            }

            div{
                a{
                    font-size: 16px;
                }
            }
        }
        p{
            display: inline-block;
            margin-right: 10px;
            font-weight: bold;
            color: black !important;
        }
    
        .img-area{
            width: 30%;
            height: 130px;
            display: inline-block;
            position: absolute;
            top: 20px;
            left: 10px;
        }
    
        .img{
            display: inline-block;
            width: 100%;
            height: 100px;
            border-radius: 50%;
            margin-right: 5px;
            margin-top: 10px;
            border: 3px solid;
        }
    
        
    
        .strong{
            font-weight: bold;
        }
    
        a:link{
            text-decoration: none;
            // color: black !important;
        }
        a:hover{
            opacity: 0.6;
        }
    
        
    }
   
    //メディアクエリ　ユーザー情報部分 
    .info{
        border: 5px solid;
        margin-top: 20px;
        padding: 10px;
        background-color: #f4f5f7;
        color: #000000 !important;

        h1{
            display: block;
            font-size: 16px;
        }
    
        a{
            color: #000000 !important;
        }
        
        .btn{
            display: inline-block;
            p{
            display: block;
            font-size: 12px;
            border-radius: 4px;
            transition: .4s;
            }
        }
    
        p{
            font-size: 14px;
            font-weight: bold;
            color: #000000 !important;
            background: linear-gradient(transparent 70%, #93FFAB 70%);
            display: inline-block;
        }

        .img{
            display: inline-block;
            width: 20%;
            height: 20%;
            border-radius: 50%;
            margin: 10px 5px 10px 10px;
        }

        .profile-img{
            display: block;
        }

        button{
            display: block;
            margin: 0;
            width: 40%;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.69) !important;
            color: #ffffff !important;
        }
    }

    .user-edit{
            display: inline-block;  
            float: left;
            width: 70%;
            padding: 10px;
        p{
            background: linear-gradient(transparent 70%, #93FFAB 70%);
            margin-bottom: 20px;
        }    
        span{
            display: block;
            border-bottom: 2px #000000;
            font-size: 15px;
            margin-bottom: 10px;
        }

        input{
            width: 100%;
        }

        textarea{
            width: 100%;
        }

        .btn{
            margin: 0;
        }
        

        .img{
            display: inline-block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 5px 10px 10px;
        }
    }
    
}